fastapi
uvicorn[standard]
pandas
reportlab
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
sqlalchemy
pymysql
celery
redis
aiosmtplib
pydantic
pydantic-settings
email-validator
python-dotenv
pytest
jinja2
python-multipart