<!-- React Navigation Sidebar - Mount Point -->
<div id="navigation-mount"></div>

<!-- User data passed from server to React -->
<script id="nav-user-data" type="application/json">{
  "first_name": "{{ user.first_name|e }}",
  "last_name": "{{ user.last_name|e }}",
  "role": "{{ user.role|e }}"
}
</script>

<!-- React + Babel -->
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- Navigation Component -->
<script type="text/babel" src="/static/js/navigation.jsx"></script>
